@font-face {
    font-family: "CursedTimer";
    src: url("./cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf") format("truetype");
}

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}

.home-score p, .guest-score p {
    display: flex;
    background-color: #080001;
    width: 155px;
    max-height: 120px;
    font-family: "CursedTimer", sans-serif;
    color: #F94F6D;
    font-size: 90px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.home-side, .guest-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-buttons, .guest-buttons {
    width: 155px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

button {
    height: 45px;
    width: 45px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    background-color: #1B244A;
    font-family: "CursedTimer", sans-serif;
    border-radius: 5px;
    font-size: 18px;
}

.home-side {
    margin-right: 100px;
}

.guest-side {
    margin-left: 0;
}

#home-score-number, #guest-score-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-game-button {
    border-radius: 50%;
}