@font-face {
    font-family: "CursedTimer";
    src: url("./cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf") format("truetype");
}

body {
    margin: 0;
    background-color: #1B244A;
    
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.home-score p, .guest-score p {
    background-color: #080001;
    width: 155px;
    height: 120px;
    font-family: "CursedTimer", sans-serif;
    color: #F94F6D;
    font-size: 90px;
}